* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #2e394d;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #333;
  color: #fff;
  padding: 10px 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  border-radius: 15px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 15px;
}

ul.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px;
  margin-left: 250px;
}

ul.menu li {
  margin: 0 47px;
}

ul.menu li a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 40px auto;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.cv-header {
  text-align: center;
  margin-bottom: 20px;
}

.cv-header img {
  width: 150px;
  border-radius: 50%;
}

.cv-section {
  margin-left: 20px;
  margin-bottom: 20px;
}

.cv-section h2 {
  margin-bottom: 10px;
  color: #394b6b;
}

.cv-section p {
  margin: 0;
  color: black;
}

.cv-section .highlight {
  font-weight: bold;
}

main {
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
  margin: 0;
  padding: 0;
}

.background-img {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 60px;
  bottom: 150px;
  left: 0px;
  width: 100%;
  height: 91%;
  background-image: url("Opera_senza_titolo.png");
}

.main-content {
  position: absolute;
  bottom: 20px;
}

.main-content h2 {
  font-size: 50px;
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
  margin-bottom: 80px;
  margin-left: -250px;
}

footer {
background-color: #fff;
color: black;
width: 100%;
padding: 10px;
text-align: center;
}